.container.banner {
  color: white;
  overflow-y: hidden;
  white-space: nowrap;
}
.container.links {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 6px;
  text-align: center;
  /*left: 30%;
  transform: translateX(-20%);*/
  margin-top: -40px;
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.07);
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}
.btn {
  background: linear-gradient(
    to right,
    rgb(255, 101, 0) 0%,
    rgb(234, 72, 37) 52%,
    rgb(230, 54, 55) 100%
  );
  color: white;
  border-radius: 6px;
  max-width: 100%;
}
.one {
    padding-right: 20px;
    padding-left: 20px;
    color: #626262;
  text-decoration: none;
}
.vl {
  border-left: 1px solid rgb(230, 54, 55);
  height: 20px;
}

  