.container.course {
  background-color: #f4f4f4;
  padding-top: 50px;
  text-align: center;
}
.cardImgTop {
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}
h2.color {
  background: linear-gradient(
    to right,
    rgb(255, 135, 0) 0%,
    rgb(230, 54, 55) 100%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: bolder;
}
/*.container.one {
  position: absolute;
}*/
.box.overlay {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.07);
  padding: 20px;
  text-align: left;
  font-weight: bold;
  font-size: small;
  border-radius: 30px;
  position: relative;
  margin-top: -40px;
  z-index: 1;
  max-width: 70%;
  background-color: white;
}
.btn {
  background: linear-gradient(
    to right,
    rgb(255, 101, 0) 0%,
    rgb(234, 72, 37) 52%,
    rgb(230, 54, 55) 100%
  );
  color: white;
  padding: 5px;
  border-radius: 3px;
  max-width: 100%;
}

.container.containerBox {
  position: relative;
  margin-top: 50px; /* to avoid overlapping due to -110px mb of box-overlay */
  margin-bottom: 50px;
}
/*.box {
  max-width: 100%;
}*/
/*.container.column {
  margin-bottom: 110px; /* to avoid overlapping due to 110px mt of container 
  margin-top: -50px;
  margin-left: 50px;
  margin-right: 50px;
}*/
