.container.footer {
    background-color: #303030;
    color: white;
    padding: 60px;
    font-size: 12px;
  }
  .new {
    border: 1px solid #494949;
  }
  .img {
    width: 15px;
    margin-right: 10px;
  }
    