.nav-link,
.d-inline.block.nav {
  margin-left: 20px;
}
.none {
  list-style: none;
  display: inline;
}
.d-inline.block.dropdown-toggle {
    color: #626262;
    text-decoration: none;
}
.container.notification {
    background-color: #303030;
    color: white;
    font-size: 12px;
  }
  .container.child {
    text-align: center;
    padding: 10px;
  }
  
.btn {
    background: linear-gradient(
      to right,
      rgb(255, 101, 0) 0%,
      rgb(234, 72, 37) 52%,
      rgb(230, 54, 55) 100%
    );
    color: white;
    border-radius: 6px;
    max-width: 100%;
    font-size: 10px;
  border-radius: 4px;
  padding: 5px;
}
.navround {
  width: 25px;
  border-radius: 50%;
  border: 2px solid rgb(230, 54, 55);
  margin-left: 20px;
}
  