h2.color {
  background: linear-gradient(
    to right,
    rgb(255, 135, 0) 0%,
    rgb(230, 54, 55) 100%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: bolder;
}
.link {
  text-decoration: underline;
  color: rgb(230, 54, 55);
}
.round {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgb(230, 54, 55);
  display: inline-block;
}
.container.testimonials {
  margin: 50px 100px;
}
.card.two {
  border-radius: 6px;
  box-shadow: 5px 10px 10px 5px #f1ecec;
  font-size: 12px;
  margin: 20px;
}
